{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur soluta nobis deleniti consequatur aut minus! Accusamus, natus corporis doloribus vitae ullam, id fugit expedita dicta earum voluptas omnis voluptatum temporibus officia! Itaque porro error iste eligendi a aperiam libero facilis, inventore repellat nisi, labore rem aliquam quaerat optio omnis corrupti sunt aut adipisci molestias quod doloremque magnam ipsum. Vero, alias culpa nulla dolorem suscipit numquam similique, voluptate sequi eaque dicta dignissimos. Quam dignissimos ut, unde, pariatur odit aliquam sequi voluptate soluta, necessitatibus iusto ex! Nihil aut expedita rem, odit consequatur tenetur ea? Quas iusto ex deleniti sunt rerum! Vitae, deleniti!</p>

<p>Website created by {{ username }}</p>

{% endblock %}