{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<h1>{{ title }}</h1>

<img src="{% static 'transparent-brush-stroke-colorful-painting-with-splatters-on-black-backgrou65f93433941e43.7258895417108306436067.png' %}" alt="" width="70">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores minima voluptatibus totam delectus in quibusdam dolorem placeat mollitia atque autem? Porro, natus earum eius exercitationem voluptatum animi mollitia a beatae.</p>

{% endblock %}